//color
$dark-grey: #333333;
$blue: #1c88bf;
$grey: #666;
$dark-blue: #364051;
$off-white: #f7f7f7;

//font
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

 //spacong
$s-size: 1.0rem;
$m-size: 1.3rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;


